<div id="articlesShowPage">
<div class="container">   
  <button class="back-to-story-home-btn btn btn-lg btn-danger" ng-click="backToShowTopics()">
    <i class="glyphicon glyphicon-menu-left"></i>
  </button>   
  <div id="topic-title-in-articles-show">
    <h1 class="text-center">{{topic.title}}</h1>
  </div>
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 col-xs-8 col-xs-offset-2">    
      <ul class="list-group">
        <li class="list-group-item list-group-item-success" ng-repeat="article in articles">
          <h3>
            <span class="glyphicon glyphicon-user">{{article.nickname}}:</span>
          </h3> 
          <br>
          <font class="article-content-font">
            {{article.content}}
          </font>
          <br><br>
          <table class="table table-responsive table-condensed">
        		<tbody>
        			<tr>
    						<td class="text-right col-lg-1 col-md-1 col-sm-1 col-xs-1">
    							<div ng-if="checkLike(article.id)"> 
		  							<button class="btn btn-link" ng-click="likeItOrNot(article.id, topic.id, $index)">
		  								<span class="fa fa-heart" id="heart"></span>
		  							</button>
    							</div>
    							<div ng-if="!checkLike(article.id)">
		  							<button class="btn btn-link" ng-click="likeItOrNot(article.id, topic.id, $index)">
		  								<span class="fa fa-heart-o" id="heart_hollow"></span>
		  							</button>
    							</div>
    							<div ng-if="user==undefined">
    								<button class="btn btn-link" ng-click="likeItOrNot(article.id, topic.id, $index)">
		  								<span class="fa fa-heart-o" id="heart_hollow"></span>
		  							</button>
		  						</div>
    						</td>
    						<td class="text-left col-lg-2 col-md-2 col-sm-1 col-xs-1">
    							<p id="info-size">{{article.likes}}&nbsp;Likes</p>
    						</td>
    						<td class="text-right col-lg-9 col-md-9 col-sm-10 col-xs-10">
    							<span class="glyphicon glyphicon-calendar" id="info-size">{{article.created_at.substring(0,16)}}</span>
       			 		</td>
       				</tr>
       			</tbody>
          </table>
        </li>
      </ul>
      <form ng-show="showTextArea">
        <textarea class="form-control" rows="5" ng-model="content"></textarea>
        <button class="btn btn-success" ng-click="createArticle()">Submit</button>
        <button class="btn btn-success" ng-click="displayTextArea()">Cancel</button>
      </form>
      <button class="btn btn-success" ng-click="displayTextArea()" ng-show="showContiButton">Continue Story!</button>
    </div>
  </div>
</div>
</div>

