<div id="articlesShowPage">
<div class="container">   
  <button class="back-to-story-home-btn btn btn-lg btn-danger" ng-click="backToShowTopics()">
    <i class="glyphicon glyphicon-menu-left"></i>
  </button>   
  <div id="topic-title-in-articles-show">
    <h1 class="text-center">{{topic.title}}</h1>
  </div>
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 col-xs-8 col-xs-offset-2">    
      <ul class="list-group">
        <li class="list-group-item list-group-item-success" ng-repeat="article in articles">
          <h3>
            <span class="glyphicon glyphicon-user">{{article.nickname}}:</span>
          </h3> 
          <br>
          <font class="article-content-font">
            {{article.content}}
          </font>
          <br><br>
          <div class="row">
    						<div class="text-right col-lg-1 col-md-1 col-sm-1 col-xs-1">
    							<div ng-if="checkLike(article.id)"> 
		  							<button class="btn btn-link" ng-click="likeItOrNot(article.id, topic.id, $index)">
		  								<span class="fa fa-heart heart"></span>
		  							</button>
    							</div>
    							<div ng-if="!checkLike(article.id)">
		  							<button class="btn btn-link" ng-click="likeItOrNot(article.id, topic.id, $index)">
		  								<span class="fa fa-heart-o heart_hollow"></span>
		  							</button>
    							</div>
    							<div ng-if="user==undefined">
    								<button class="btn btn-link" ng-click="likeItOrNot(article.id, topic.id, $index)">
		  								<span class="fa fa-heart-o heart_hollow"></span>
		  							</button>
		  						</div>
    						</div>
    						<div class="text-left col-lg-1 col-md-1 col-sm-1 col-xs-1">
    							<p id="info-size">{{article.likes}}&nbsp;Likes</p>
    						</div>
                <div class="text-left col-lg-1 col-md-1 col-sm-1 col-xs-1">
                  <div>
                    <button class="btn btn-link" ng-click="getComments(article.id,$index)">
                      <span class="fa fa-comment-o comment-icon"></span>
                    </button>
                  </div>
                </div>
                <div class="text-left col-lg-1 col-md-1 col-sm-1 col-xs-1">
                  <p id="info-size">{{article.comment_amount}}&nbsp;comments</p>
                </div>
    						<div class="text-right col-lg-8 col-md-8 col-sm-8 col-xs-8">
    							<span class="glyphicon glyphicon-calendar" id="info-size">{{article.created_at.substring(0,16)}}</span>
       			 		</div>
       		</div>
          <div>
            <ul class="list-group">
              <li class="list-group-item list-group-item-warning" ng-repeat="comment in articleComments[$index]">
                <h5>
                  <span class="glyphicon glyphicon-user">{{comment.nickname}}:</span>
                </h5> 
                {{comment.content}}
                <div class="text-right">
                  <span class="glyphicon glyphicon-calendar" id="info-size">{{comment.created_at.substring(0,16)}}</span>
                </div>
              </li>
            </ul>
          </div>
          <div class="">
          <form ng-show="showCommentsInput[$index]" ng-init="showCommentsInput[$index]=false" accept-charset="UTF-8">
            <div class="form-group">
              <textarea class="form-control" rows="5" ng-model="commentContents[$index]" ng-trim="false" maxlength="300">
              </textarea>
            </div>
            <button ng-disabled="flase" type="submit" class="btn btn-warning" ng-click="createArticleComment(article.id,$index)">Submit</button>
            <button class="btn btn-warning" ng-click="displayCommentsInput($index)">Cancel</button>
          </form>
          <button class="btn btn-warning" ng-click="displayCommentsInput($index)" ng-show="showLeaveCommentsButton[$index]" ng-init="showLeaveCommentsButton[$index]=true">Leave Comments</button>  
          </div>
        </li>
      </ul>
      <form ng-show="showTextArea">
        <textarea class="form-control" rows="5" ng-model="content"></textarea>
        <button class="btn btn-success" ng-click="createArticle()">Submit</button>
        <button class="btn btn-success" ng-click="displayTextArea()">Cancel</button>
      </form>
      <button class="btn btn-success" ng-click="displayTextArea()" ng-show="showContiButton">Continue Story!</button>
    </div>
  </div>
</div>
</div>

