<div id="static_pages_story_home" class="container-fluid" ng-app="story_home" ng-controller="show_topics_ctrl">
  <h1>Topics</h1>
  <a class="btn btn-lg btn-warning" href="<%=new_topic_path%>" role="button">Create Topic</a>
  <div class="list-group" ng-repeat = "topic in topics">
    <a href="#" class="list-group-item list-group-item-success">
      <h4 class="list-group-item-heading">{{topic.title}}<span class="label label-success">{{topic.comment_amount}}</span></h4>
      <p class="list-group-item-text">Created At {{topic.created_at.substring(0,16)}}</p>
    </a>
  </div>
</div>

