<div id="articles_by_topic_id">
  <ul class="list-group">
    <% @articles.each do |article| %>
      <li class="list-group-item list-group-item-success">
        <p><%=article.content%></p>
      </li>
    <% end %>
  </ul>
</div>
