  <h1>Topics</h1>
  <a class="btn btn-lg btn-warning" ng-click="toNewTopics()" role="button">Create Topic</a>
  <div class="row">
    <div class="col-md-4" ng-repeat = "topic in topics">
      <a href="#/showStory/{{topic.id}}" class="list-group-item list-group-item-success">
        <h4 class="list-group-item-heading">{{topic.title}}<span class="label label-success">{{topic.comment_amount}}</span></h4>
        <p class="list-group-item-text">Created At {{topic.created_at.substring(0,16)}}</p>
      </a>
    </div>
  </div>

