<div id="story-home-page">
<div id="first-div">
  <div class="container">
    <div class="row">
      <h1 class="text-center title-font"><i>Story Tree</i></h1>
      <h3 class="text-center title-comment-font">Click to start your journey</h3>
    </div>
    <div class="row centered">
      <div id="new-topic-div" class="col-lg-2 col-md-2 col-sm-2 col-xs-1">
        <button class="btn btn-lg btn-danger" ng-click="toNewTopics()" aria-label="Left Align">
          <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Create Topic
        </button>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-9 col-lg-offset-1 col-md-9 col-md-offset-1">
        <div ng-click="getNewTopics()" class="btn btn-lg search-type-button">
          New
        </div>
        <div ng-click="getHotTopics()" class="btn btn-lg search-type-button">
          Hot
        </div>
      </div>
    </div>       
  </div>
</div>
<div id="topics-bill-board">
  <div class="container">
  <div class="row">
    <div  class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1">      
    </div>
    <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1">
      <div class="topics-search">
        <h1 class="text-center">{{topicsSearchType}}</h1>      </div>
    </div>  
  </div>    
  <div class="row topics-div" id="topics-div">
    <div class="col-lg-4 col-lg-offset-2 col-md-offset-2 col-md-4 col-sm-6 col-xs-6">
      <div ng-repeat = "topic in topics" class="topicBlock">
        <div ng-if="$index%2==0">
        <button ng-click="toShowStory({{topic.id}})" class="list-group-item topic-button">
          <h2 class="list-group-item-heading article-title-font">{{topic.title}}</h2>

          <p class="article-content-font">{{topic.content.substring(0,50)+"..."}}</p>
          <span class="glyphicon glyphicon-user" ></span>
          <font class="text-left">{{topic.nickname}}</font><br>
          <span class="glyphicon glyphicon-search"></span>          
          <font class="text-left">{{topic.browse_times}}</font><br>
          <span class="glyphicon glyphicon-calendar"></span>
          <font class="text-left">{{topic.created_at.substring(0,16)}}</font>
          <br>
          <span class="fa fa-file-text"></span>
          <font>{{topic.article_amount}}</font>
        </button>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
      <div ng-repeat = "topic in topics" class="topicBlock">
        <div ng-if="$index%2==1">
        <button ng-click="toShowStory({{topic.id}})" class="list-group-item topic-button">
          <h2 class="list-group-item-heading article-title-font">{{topic.title}}</h2>
          <p class="article-content-font">{{topic.content.substring(0,50)+"..."}}</p>
          <span class="glyphicon glyphicon-user" ></span>
          <font class="text-left">{{topic.nickname}}</font><br>
          <span class="glyphicon glyphicon-search"></span>          
          <font class="text-left">{{topic.browse_times}}</font><br>
          <span class="glyphicon glyphicon-calendar"></span>
          <font class="text-left">{{topic.created_at.substring(0,16)}}</font>  
          <br>
          <span class="fa fa-file-text"></span>
          <font>{{topic.article_amount}}</font>      
        </button>
        </div>
      </div>
    </div>
    </div>  
  </div>
</div>
</div>
