
<div id="firstDiv">
  <div class="container">
    <div class="row">
      <h1 class="text-center title-font"><i>Story Tree</i></h1>
      <h3 class="text-center titleCemmentFont">Click to start your journey</h3>
    </div>
    <div class="row centered">
      <div id="newTopicDiv" class="col-lg-2 col-md-2 col-sm-2 col-xs-1">
        <button class="btn btn-lg btn-danger" ng-click="toNewTopics()" aria-label="Left Align">
          <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Create Topic
        </button>
      </div>
    </div>  
  </div>
</div>
<div class="container">
  <h1 class="text-left">New Topics !<br><small>There are new topics , please check it out</small></h1>
  <div class="row topics-div">
    <div class="col-lg-3 col-md-3">
      <div ng-repeat = "topic in topics" class="topicBlock">
        <a ng-if="$index%4==0" href="#/showStory/{{topic.id}}" class="list-group-item list-group-item-success">
          <h2 class="list-group-item-heading article-title-font">{{topic.title}}</h2>
          <font class="article-content-font">{{topic.content.substring(0,50)+"..."}}</font>
          <font class="text-left"><b>Mail: </b>{{topic.email}}</font><br>
          <font class="text-left"><b>View Times: </b>{{topic.browse_times}}</font><br>
          <font class="text-left"><b>Date: </b>{{topic.created_at.substring(0,16)}}</font>
        </a>
      </div>
    </div>
    <div class="col-lg-3 col-md-3">
      <div ng-repeat = "topic in topics" class="topicBlock">
        <a ng-if="$index%4==1" href="#/showStory/{{topic.id}}" class="list-group-item list-group-item-success">
          <h2 class="list-group-item-heading article-title-font">{{topic.title}}</h2>
          <font class="article-content-font">{{topic.content.substring(0,50)+"..."}}</font>
          <font class="text-left"><b>Mail: </b>{{topic.email}}</font><br>
          <font class="text-left"><b>View Times: </b>{{topic.browse_times}}</font><br>
          <font class="text-left"><b>Date: </b>{{topic.created_at.substring(0,16)}}</font>
        </a>
      </div>
    </div>
    <div class="col-lg-3 col-md-3">
      <div ng-repeat = "topic in topics" class="topicBlock">
        <a ng-if="$index%4==2" href="#/showStory/{{topic.id}}" class="list-group-item list-group-item-success">
          <h2 class="list-group-item-heading article-title-font">{{topic.title}}</h2>
          <font class="article-content-font">{{topic.content.substring(0,50)+"..."}}</font>
          <font class="text-left"><b>Mail: </b>{{topic.email}}</font><br>
          <font class="text-left"><b>View Times: </b>{{topic.browse_times}}</font><br>
          <font class="text-left"><b>Date: </b>{{topic.created_at.substring(0,16)}}</font>
        </a>
      </div>
    </div>  
    <div class="col-lg-3 col-md-3">
      <div ng-repeat = "topic in topics" class="topicBlock">
        <a ng-if="$index%4==3" href="#/showStory/{{topic.id}}" class="list-group-item list-group-item-success">
          <h2 class="list-group-item-heading article-title-font">{{topic.title}}</h2>
          <font class="article-content-font">{{topic.content.substring(0,50)+"..."}}</font>
          <font class="text-left"><b>Mail: </b>{{topic.email}}</font><br>
          <font class="text-left"><b>View Times: </b>{{topic.browse_times}}</font><br>
          <font class="text-left"><b>Date: </b>{{topic.created_at.substring(0,16)}}</font>
        </a>
      </div>
    </div>  
  </div>  
</div>
