<div class="container">
  <h2>Log in</h2>

  <form novalidate="novalidate" class="simple_form new_user" accept-charset="UTF-8">
    <input name="utf8" type="hidden" value="&#x2713;" />
    <div class="form-inputs">
      <div class="form-group email optional user_email">
        <label class="email optional control-label">Email</label>
          <input class="string email optional form-control" autofocus="autofocus" type="email" ng-model="email"/>
      </div>
      <div class="form-group password optional user_password">
        <label class="password optional control-label">Password</label>
          <input class="password optional form-control" type="password" ng-model="password"/>
      </div>
      <div class="form-group boolean optional user_remember_me">
        <div class="checkbox">
          <label class="boolean optional">
	    <input class="boolean optional" type="checkbox" ng-click="setRemember()"/>
          Remember me
          </label>
        </div>
      </div>
    </div>

    <div class="form-actions">
      <input type="submit" ng-click="signIn(0)" value="Log in" class="btn btn-default" />
    </div>
  </form><br>
   <a href="#/signUp" class="btn btn-lg btn-google">Go to Sign-Up Page</a><br />
   <a href="/users/auth/facebook" class="btn btn-social btn-lg btn-facebook">
     <span class="fa fa-facebook"></span>      
     Sign In With Facebook
   </a><br>
   <a ng-click="signIn(1)" class="btn btn-lg btn-twitter">Sgin In With Test Account</a>
</div>