<div class="container">
<h2>Sign up</h2>

<form novalidate="novalidate" class="simple_form new_user" accept-charset="UTF-8">
  <div class="form-inputs">
    <div class="form-group email required user_email">
      <label class="email required control-label">
        <abbr title="required">*</abbr> Email
      </label>
      <input class="string email required form-control" ng-model="email" type="email" autofocus="autofocus"/>
    </div>
    <div class="form-group password required user_password">
      <label class="password required control-label">
        <abbr title="required">*</abbr> Password
      </label>
      <input class="password required form-control" ng-model="password" type="password"/>
      <p class="help-block">8 characters minimum</p>
    </div>
    <div class="form-group password required user_password_confirmation">
      <label class="password required control-label">
        <abbr title="required">*</abbr> Password confirmation
      </label>
      <input class="password required form-control" ng-model="password_confirmation" type="password"/>
    </div>
  </div>

  <div class="form-actions">
    <input type="submit" ng-click="signUp()" value="Sign up" class="btn btn-default" />
  </div>
</form>
<a href="#/signIn">Log in</a><br/>
</div>