html, #body{
  height: 100%;
  background-image: url(image-path('articles_show_background.gif'));  background-attachment: fixed;
}

#wrapper {
  min-height: 100%;  
  position: relative;
}

#main_content {
	padding-top: 50px;
	padding-bottom: 75px;
}

.navbar-custom{
    background:#105d10;
    background:-webkit-linear-gradient(#102010,#105d10);
    background:-o-linear-gradient(#102010, #105d10);
    background:-moz-linear-gradient(#102010, #105d10);
    background:linear-gradient(#102010, #105d10);
}
.whiteFont{
    color:white;
}
.whiteFont:hover{
    color:black;
	font-size:150%;
}

.whilteFont:focus{
  background-color:none;
}

.no-background-color{
	background-color:none;
}

footer {
	position: absolute;
	height: 75px;
	bottom:0;
	width:100%;
	background-color: #99f68b;
	color: #009044;
}

#copyright {
	color: #138501;
	padding-top: 3px;
	text-shadow: 2.5px 2.5px 2px #5c816d;
	font-family: Times New Roman, Arial, serif;
}


