#body{
  margin-top:50px;
}

.navbar-custom{
    background:#105d10;
    background:-webkit-linear-gradient(#102010,#105d10);
    background:-o-linear-gradient(#102010, #105d10);
    background:-moz-linear-gradient(#102010, #105d10);
    background:linear-gradient(#102010, #105d10);
}
.whiteFont{
    color:white;
}
.whiteFont:hover{
    color:black;
	font-size:150%;
}

.whilteFont:focus{
  background-color:none;
}

.no-background-color{
	background-color:none;
}