#body{
  margin-top:50px;
}

#navbar{
    background:#108d10;
    background:-webkit-linear-gradient(#104010,#108d10);
    background:-o-linear-gradient(#106010, #108d10);
    background:-moz-linear-gradient(#106010, #108d10);
    background:linear-gradient(#104010, #108d10);
}
.whiteFont{
    color:white;
}
