.topicBlock{
  margin-top:30px
}

.fk{
  font-size:70px;
  color:black;
}

#firstDiv{
  height:300px;
  background-color:#108d10;

  background:#108d10;
  background:-webkit-linear-gradient(#108d10,rgba(21,138,25,0.90),rgba(84,13,13,0.35));
  background:-o-linear-gradient(#108d10,rgba(21,138,25,0.90),rgba(84,13,13,0.35));
  background:-moz-linear-gradient(#108d10,rgba(21,138,25,0.90),rgba(84,13,13,0.35));
  background:linear-gradient(#108d10,rgba(21,138,25,0.90),rgba(21,178,25,0.80));
}
