<!DOCTYPE html>
<html ng-app="StoryTree" ng-controller="layoutCtrl">
<head>
  <title>Story Tree</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application'%>
  <%= csrf_meta_tags %>
</head>
<body id="body">
	<div id="wrapper" class="">
		<nav class='navbar navbar-fixed-top navbar-default navbar-custom' id="navbar">
		  <div class="container">
		      <div class="navbar-header">
	          	<button type="button" class="navbar-toggle collapsed navbar-toggle-custom" data-toggle="collapse" data-target="#nav-bar" aria-expanded="false">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar icon-bar-custom"></span>
                  <span class="icon-bar icon-bar-custom"></span>
                  <span class="icon-bar icon-bar-custom"></span>
                </button>
		        <a class='navbar-brand whiteFont' href=''>
		        Story Tree</a>
		      </div>
		      <div class='navbar-collapse collapse' id="nav-bar">
		        <ul class='nav navbar-nav'>
		          <li class=''><a href='/' class="whiteFont">Home</a></li>
		          <li class=''><a href='/' class="whiteFont">Stories</a></li>
		        </ul>
		        <ul class="nav navbar-nav navbar-right">
		          <li id="profile" class=''><a href='#/profileMenu' class="whiteFont">Profile</a></li>
		          <li id="showSignOut" class='' ng-click="signOut()"><a href="" class="whiteFont">Sign Out</a></li>
		          <li id="showRegister" class=''><a href='#/signUp' class="whiteFont">Register</a></li>
		          <li id="showSignIn" class=''><a href='#/signIn' class="whiteFont">Sign In</a></li>
		        </ul>
		      </div>
		  </div>
		</nav>
		<div ng-view id="main_content">
		  <%= yield %> 
		</div>
		<footer class="container-fluid">
			<div class="row">
				<div class="col-lg-2 col-md-2 col-sm-2 col-xs-0">
				</div>
				<div class="col-lg-3 col-md-4 col-sm-4 col-xs-4">
					<h2 class="text-center" id="copyright"><strong>Story Tree</strong></h2>
				</div>
				<div class="col-lg-7 col-md-6 col-sm-6 col-xs-8">
					<p><br>
					Copyright &copy; 2015 StoryTree Corporation<br>
					Designed by <a href="#"> TheStoryTree Group</a>
					</p>
				</div>
			</div>	
		</footer> 
	</div>
</body>
</html>
