<!DOCTYPE html>
<html ng-app="StoryTree" ng-controller="appCtrl">
<head>
  <title>Story Tree</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application'%>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav class='navbar navbar-dark bg-inverse' role="navigation">
    <div class="container container-fluid">
      <div class="row">
        <div class="navbar-header">
          <a class='navbar-brand' href='' id="test">Story Tree</a>
        </div>
        <div class='navbar-collapse bs-navbar-collapse collapse' role='navigation'>
          <ul class='nav navbar-nav'>
            <li class=''><a href='#/introduction'>Introduction</a></li>
            <li class=''><a href='/'>Stories</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li id="showSignOut" class='' ng-click="signOut()"><a href="">Sign Out</a></li>
            <li id="showRegister" class=''><a href='#/signUp'>Register</a></li>
            <li id="showSignIn" class=''><a href='#/signIn'>Log In</a></li>        
          </ul>
        </div>
      </div>
    </div>
  </nav>
  <div class="container container-fluid" ng-view>
    <%= yield %>
  </div>

</body>
</html>
