<!DOCTYPE html>
<html ng-app="StoryTree" ng-controller="appCtrl">
<head>
  <title>Story Tree</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application'%>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav class='navbar' role="navigation" ng-style="navbarCss">
    <div class="container">
      <div class="row">
        <div class="navbar-header">
          <a class='navbar-brand' href='' id="test" ng-style="whiteFontCss">Story Tree</a>
        </div>
        <div class='navbar-collapse bs-navbar-collapse collapse' role='navigation'>
          <ul class='nav navbar-nav'>
            <li class=''><a href='#/introduction' ng-style="whiteFontCss">Introduction</a></li>
            <li class=''><a href='/' ng-style="whiteFontCss">Stories</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li id="showSignOut" class='' ng-click="signOut()"><a href="" ng-style="whiteFontCss">Sign Out</a></li>
            <li id="showRegister" class=''><a href='#/signUp' ng-style="whiteFontCss">Register</a></li>
            <li id="showSignIn" class=''><a href='#/signIn' ng-style="whiteFontCss">Log In</a></li>        
          </ul>
        </div>
      </div>
    </div>
  </nav>
  <div class="container container-fluid" ng-view>
    <%= yield %>
  </div>

</body>
</html>
